flask==2.3.2
flask-cors==4.0.0
flask-login==0.6.3  # 用户会话管理
markdown==3.5.1
openai==1.14.0
python-dotenv==1.0.0
Werkzeug==2.3.6
httpx==0.27.2
pillow==11.1.0
oss2==2.19.1  # 阿里云OSS Python SDK 
akshare==1.12.99  # 金融数据接口库
pandas==2.2.1  # 数据处理
mplfinance==0.12.10b0  # K线图绘制
matplotlib==3.8.3  # 图形库 
TA-Lib==0.6.3 